/*navbar*/

.navbar {
    margin-bottom: 0;
    background-color: #55aace;
    font-family: 'Montserrat', sans-serif;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #55aace !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: yellow !important;
    background-color: #55aace !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #55aace !important;
}

#contact {
    text-decoration: bold;
}

.navbar-brand {
    display: flex;
    padding: 0 0;
    line-height: 80px;
}

.navbar-brand > p{
    font-family: 'Pacifico', cursive;
    line-height: 80px;
}

.navbar-brand:hover {
    background-color: yellow;
}

.navbar-btn {
    margin-left: 20px;
}
/*endnavbar*/

footer {
    background-color: #292f33;
    min-height: 30px;
    padding: 5px;
    text-align: center;
    color: white;
    width: 100%;
   /* position: absolute;*/
    right: 0;
    bottom: 0;
    left: 0;
}

/* Style all font awesome icons */
.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}


/*endfooter*/

body, html {
	font-family: 'Montserrat', sans-serif;
}

.container-fluid {
	padding-top: 80px;
	margin-bottom: 250px;
}


/*bookpanel*/

/*#fd5c63 red airbnb*/


.fa-trophy {
	color: yellow;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

#panelhead {
	background-color: #292f33;
	color: white;
	opacity: 0.95;
	font-size: 15px;
	margin-bottom: 0;
}

.panel-body {
	width: 100%;
}


.body {
	margin-top: 50px;
}

#detr {
	text-align: right;
}

#detl {
	text-align: left;
}

#dont{
	text-align: center;
}

.fa-heart-o {
	margin: 5px;
	padding: 5px;
}

.fa-heart-o:hover {
	color: red;
}
#btnwish {
	background-color: white;
	border-color: black;
	color: black;
}

#btnwish:hover {
	color: red;
}

#btnwish strong {
	margin-right: 20px;
}

#trav {
	text-align: center;
}

#smline {
	text-align: center;
}

#wishdet {
	border-radius: 10px;
	margin-top: 10px;
	padding: 0;
}



/*end4col*/

#atak h1 {
    font-size: 55px;
}

#amlogo {
    text-align: center;
}

hr {
    padding: 10px 10px;
    margin: 0;
}







